:root{
    --color-crema: #F8F1DF;
    --color-celeste: #C0E1F4;
    --color-azul: #4580AC;
    --color-naranja: #FFDAA5;
    --color-rosa: #FBDBC4;
    --color-verde: #E2DD7F;
    --color-grissuperclaro: #ECECEC;
    --color-grisclaro: #F1F1F1;
    --color-grismedio: #AFAFAF;
    --color-grisiscuro: #7D7979;
    --color-blanco: #FFFFFF;
    --color-negro: #000000;

}

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <style>
        body {
            font-family: "Trirong", serif;
        }
    </style>
</head>